.form_group_class {
    --check-size: 3rem;
    --ascender: 1.2;   /* depends on font */
    --transition-duration: .3s ease;
    --yes-color: green;
    --no-color: red;
    --focus-color: rgb(216, 252, 54);

    /* - You probably shouldn't need to change the vars below - */
    --half-size: calc(var(--check-size) * .5);
    --text-height: calc(var(--check-size) * var(--ascender));
    --text-margin: calc(var(--text-height) * .4);
    --no-text-content: 'NO';
    --yes-text-content: 'YES';
    display: flex;
    align-items: center;
    gap: var(--check-size);
}

.form_group_class label {
    order: 100; /* Let's us change the order of input elements */
}

.form_group_class input {
    --state-color: var(--no-color);
    background:
    radial-gradient(
        circle,
        var(--state-color ) 0%,
        var(--state-color ) var(--check-size),
        transparent var(--check-size)
    );
    background-position: left calc(var(--check-size) * .1) top 50%;
    background-size: calc(var(--check-size) * 2);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;

    font-size: var(--check-size);
    width: calc(var(--check-size) * 5);
    height: calc((var(--check-size) * var(--ascender)) + var(--text-margin) * 2);
    position: relative;
    outline: 4px solid var(--state-color);
    border-radius: 1000px;
    transition: background var(--transition-duration), outline var(--transition-duration);
    overflow: hidden;
}
.form_group_class input:focus-visible,
.form_group_class input:checked:focus-visible {
    outline: 8px solid var(--focus-color);
}


.form_group_class input:checked {
    --state-color: var(--yes-color);
    background-position: right calc(var(--check-size) * .1) top 50%;
}


.form_group_class input::before,
.form_group_class input::after {
    position: absolute;
    top: calc(50% - (var(--text-height) * .5));


}



.form_group_class input::before {
    /* NO */
    color: var(--no-color);
    content: var(--no-text-content);
    right: var(--half-size);
    transition: right var(--transition-duration);
}
.form_group_class input:checked::before {
    right: calc(0px - var(--check-size) * 2);
}


.form_group_class input::after {
    /* YES */
    color: var(--yes-color);
    content: var(--yes-text-content);
    left: var(--half-size);
    transition: left var(--transition-duration);

}
.form_group_class input:not(:checked)::after {
    left: calc(0px - var(--check-size) * 2);
}

