.ga_form_yesno {
    --check-size: 1rem;
    --ascender: 1.2;
    /* depends on font */
    --text-height: calc(var(--check-size) * var(--ascender));
    --text-margin: calc(var(--text-height) * .4);
    --yes-text-color: green;
    --no-text-color: red;
    --alt-color: rgb(225, 225, 225);
    --no-text-content: 'NO';
    --yes-text-content: 'YES';
    display: flex;
    gap: 1rem;
}

.ga_form_yesno label {
    order: 100;
}

.ga_form_yesno input {
    --no-color: var(--no-text-color);
    --yes-color: var(--alt-color);
    --state-color: var(--no-text-color);
    background:
    radial-gradient(
        circle,
        var(--state-color ) 0%,
        var(--state-color ) var(--check-size),
        transparent var(--check-size)
    );
    background-position: left calc(var(--check-size) * .1) top 50%;
    background-size: calc(var(--check-size) * 2);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    appearance: none;

    font-size: var(--check-size);
    width: calc(var(--check-size) * 5);
    height: calc((var(--check-size) * var(--ascender)) + var(--text-margin) * 2);
    position: relative;
    outline: 4px solid var(--state-color);
    border-radius: 1000px;

}

.ga_form_yesno input:not(:checked)::before {
    /* NO */
    position: absolute;
    color: var(--no-color);
    content: var(--no-text-content);
    top: calc(50% - (var(--text-height) * .5));
    right: .5rem;
}

.ga_form_yesno input:checked::after {
    /* YES */
    position: absolute;
    color: var(--yes-color);
    content: var(--yes-text-content);
    top: calc(50% - (var(--text-height) * .5));
    left: .5rem;

}


.ga_form_yesno input:checked {
    --no-color: var(--alt-color);
    --yes-color: var(--yes-text-color);
    --state-color: var(--yes-text-color);
    background-position: right calc(var(--check-size) * .1) top 50%;



}